body {
  min-height: 2000px;
  color: #ffffff;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #31708f;
  color: #ffffff;
  margin-bottom: 0px;
}

.navbar navbar-default {
  color: #ffffff;
}