{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block jquery %}
var price = $(".variation_select option:selected").attr("data-price")
$("#price").text(price);
$(".variation_select").change(function(){
    var price=$(".variation_select option:selected").attr("data-price")
    $("#price").text(price);
    var img=$(".variation_select option:selected").attr("data-img")
    $("img").attr("src", img);
})
{% endblock jquery %}


{% block content %}
<div class="container">
<div class="row">
<div class="col-sm-8">
<h2>{{ product.title }}</h2>
    {% if object.productimage_set.count > 0 %}
    <div>
    {% for img in object.productimage_set.all %}

    <img id="img" class="data-img" class="img-responsive" src="{{ img.image.url }}"/>
    {% endfor %}
    </div>
    {% endif %}
<p>{{ product.description }}</p>
</div>


<!-- Product Side Bar -->
<div class="col-sm-4">
<h3 id="price">{{ object.price }}</h3>
{% if object.variation_set.count > 1 %}
<select class="form-control variation_select">
{% for vari_obj in object.variation_set.all %}

<option data-img="{{ vari_obj.image.url }}" data-price="{{ vari_obj.price }}" value="{{ vari_obj.id }}">{{ vari_obj }}</option>

{% endfor %}
</select>
{% endif %}
<br>
<a href="#">Add to Cart</a>
<br>
<hr />
<p>
Share<br/>
<a href="https://facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
<i class="fa fa-facebook-square fa-3x"></i></a>

<a href="#">
<i class="fa fa-twitter-square fa-3x"></i></a>
</p>

<hr/>
<h4>Related Products</h4>
</div>
<!-- Product Side Bar Ends -->
</div>
</div>
{% endblock content %}