{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block jumbotron %}

      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
        </p>
      </div>
{% endblock jumbotron %}
{% block content %}
<div class="container">
<table class="table">
    <tr>{% for object in object_list %}
    <td><a href="{% url 'detail' pk=object.pk %}">{{ object.title }}</a></td>

        <td>{{ product.description }}</td>
    </tr>
        {% endfor %}
    </table>
    </div>
{% endblock content %}